/*reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Birdies */

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    background-color: #1E2022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 7px 9px #000000);
    position: sticky;
    top: 0;
}
header h1 {
  margin: 0 0 0 2em;
    filter: drop-shadow(3px 3px 5px #000000);
}
header h1 a {
    color: #F8C778;
    font-size: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    }
nav{
    display: flex
}
header nav a {
    display: block;
    padding: 2em;
    color: white;
    font-family: 'Roboto Mono', monospace;
        
}
header h1 a, nav a {
        letter-spacing: .45rem;
    }
header nav a:hover {
    transition: color .9s;
    color: white;
    transition: background-color 2s;
    background-color: #80C5A6;
 }

body figure img{
    width: 50%;
    height: 50%;
        
}
body figure {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url(img/portada02.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
body main article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    background-color: #70BB98;
    padding: 2.5%;
}
body main article:nth-child(odd){
    flex-direction: row-reverse;
    background-color: #F8C778;
}
body main article img{
    width: 50%;
    padding: 2.5%;
    
}


body main article section h1{
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
body main article section p{
    font-family: 'Karla', sans-serif;
    margin: 8%;
}
body main article section{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}