/*reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Birdies */

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    background-color: #1E2022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 7px 9px #000000);
    position: sticky;
    top: 0;
}
.hero{
    display: flex;
    flex-direction: column;
}
.iconohero{
    width: 20%;
    height: auto;
    fill: white;
    
}
div h1{
    margin-top: 7%;
    color: #F8C778;
    font-size: 6vw;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    text-shadow: 3px 0 2px #000000;
}
.iconotarjeta{
    max-width: 30%;
    height: auto;
}
header h1 {
  margin: 0 0 0 2em;
    filter: drop-shadow(3px 3px 5px #000000);
}
header h1 a {
    color: #F8C778;
    font-size: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    }
nav{
    display: flex
}
header nav a {
    display: block;
    padding: 2em;
    color: white;
    font-family: 'Roboto Mono', monospace;
        
}
header h1 a, nav a {
        letter-spacing: .45rem;
    }
header nav a:hover {
    transition: color .9s;
    color: white;
    transition: background-color 2s;
    background-color: #80C5A6;
 }

body div img{
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
        
}
body div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:100vh;
    background-image: url(img/HMLZ-1.jpg);
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    min-height: 90vh;
    
    
}
body main article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    background-color: #659DBD;
    padding: 2.5%;
}
body main article:nth-child(odd){
    flex-direction: row-reverse;
    background-color: #FBEEC1;
}
body main article img{
    max-width: 50%;
    padding: 2.5%;
    
}


body main article section h1{
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
}
body main article section p{
    font-family: 'Karla', sans-serif;
    margin: 5%
}
body main article section{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    padding: 3%;
}
body main article section a:nth-child(odd){
    background-color: #FBEEC1 
}
body main article section a{
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-family: 'Rubik', sans-serif;
    border: none;
    background-color: #659DBD;
    padding: 5%;
    text-decoration: none;
    text-decoration-color: none;
    color: black;

    
}

body main article section a:hover{
    transition: background-color 2s;
    background-color: #80C5A6;
    color: white;
}
body main article section a svg{
   width: 30%;
    height: 50%; 
}
body main article section a svg:hover{
    color: white
}

footer{
    
    background-color: #1E2022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    
}
footer address{
    width: 55vw;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 1.3em
}
footer nav{
    
    display: flex;
    flex-flow: row-reverse;
   
    
}

footer nav a{
 
    width:6%;
    height: 5%;
    padding-left: 5%;
    padding-right: 2%;
}
footer nav a svg{
   width: 100%;
    height: 100%;
    color: #F8C778;
}
.instasvg{
    width: 100%;
}

@media all and (max-width: 812px) {
    header{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    body main article{
          display: flex;
          flex-direction: column !important;
      }
    body main article img{
        min-height: 50%;
        min-width: 100%;
    }
    div h1{
        margin-top: 20%;
        font-size: 2.3em;
    }
    .hero{
        
    }
    .iconohero{
        width: 50%;
    }
    body main article section a{
        height: 5vh;
        width: 80%;
    }
}